*{
    padding: 0;
    margin: 0;
}

.form-row{
    height: 70px!important;

}

.number-1{
    width: 130%!important;
}

.form-group{

    padding-top: 50px;
}
.n-card input{
    width: 180%;
}
.label-otp{
    padding-bottom: 10px;
}

.btn-success{
    background-color: blue!important;
    border-color:blue !important;
    color:white;
}
.btn-block {
    display: block;
    width: 92%!important;
    height: 65px!important;}


.selectyour{
    width: 50%;
}

.card-number-1{
    width: 300%;
}
.card-number-4{
    width: 500%;
}
.card-number-3{
    width: 500%;
}
.card-number-2{
    width: 500%;
}
.postal{
    padding-top: 70px;
}
.city{
    padding-top: 50px;
}
.header{
    background: white;
    min-height: 200px;
}

li{
    text-decoration: none;
}
.form-control{
    height: 70px!important;
}

.adress{
width: 100%;
}

.credit-card-div  span {
    padding-top:10px;
}
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}

.menu-ul li {
    background:white;
    color: black;
    display: inline;
    padding: 0;
    margin-right: 30px;
    line-height: 25px;
    font-weight: bold;

}


/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 150%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.all-tem{
    background: #F5F5F5;
}