.form-title-inv{
    text-align: center;
    color: #1AB394;
    margin-top: 20px;
}

.form-foot-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F9F9;
    border-top: 2px solid #EBEBEB;
    border-radius: 0px 20px 20px;
}

.bg-seven .head_p {
    padding: 10px 0 10px;
}

.bg-seven .card_img {
    padding: 40px 50px 25px;
}

.form-seven .form-foot-flex .submit {
    font-size: 20px;
    color: #fff;
    background-color: #54c7c3;
    padding: 30px 0;
    width: 50%;
    margin-top: 0;
    border: none;
    font-weight: 600;
    margin-top: -2px;
    border-radius: 0 0 10px;
}

.bg-seven {
    padding: 10% 25% 10% 25%;
}

.form-seven .form-foot-flex p{
    width: 50%;
    text-align: left;
    font-size: 30px;
    color: #4E4E4E;
    font-weight: bold;
    padding-left: 50px;
}


.form-seven .card_img .head_p,
.form-six .card_img .head_p{
    font-size: 16px;
    color: #C9C9C9;
    font-weight: 600;
}

.form-seven .card_img input {
    border-radius: 0;

    margin-bottom: 20px;
}

.fa-check:before {
display: none!important;

}

.fa-check{
    position: relative;
    left: 70px;
}

.arrow-top-img{
    position: relative;
    right:50px;
}


.form-seven .card_img .data,
.form-six .card_img .data {
     border-right: 1px solid #cccccc;
}

input .data {
    border: 1px solid #cccccc!important;
}

.bg-six {
    padding: 10% 20% 10% 20%;
}

.form-six .form-block .data{
    border-radius: 5px!important;
    border-width: 1px;
    height: 50px;
    padding-left: 10px;
}

.form-foot-flex .head_p{
    color: #705f5f;
    font-weight: 600;
    margin-bottom: 10px;
}

.six-submit{
    border: none;
    background: #59CCA8;
    color: white;
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 14px -2px #8d6c6c;
}

.six-submit span{
   padding-right: 120px; 
}

.bg-five {
    padding: 10% 0% 10% 0%;
}

.form-five .header-part .header{
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    color: #605858;
}

.form-five .header-part{
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd4d4;
}

.form-five .card_img .head_p {
    font-size: 16px;
    color: #3f3f3f;
    font-weight: 400;
}



.form-six .card_img .head_p {
    color: #705f5f;
    padding: 20px 0 10px;
}

.form-six .form-block{
    width: 48%;
    margin-bottom: 10px;
}

.form-input_row .sev-part{
    width: 68%;
}

.form-input_row .third-part{
    width: 28%;
}

.form-six .form-foot-flex{
    background: transparent;
    border-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.form-five .card_img {
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.form-five .form-input_row .form-group .form-control{
    height: 50px;
}

.form-five .add-info{
    padding-top: 20px;
    padding-bottom: 40px; 
    text-align: center;
}

.form-five .form-foot-flex{
    background: transparent;
    border-top: 1px solid #EBEBEB;
}

.five-submit{
    padding: 10px 50px 10px 10px;
    border: none;
    background: transparent;
}


.five-submit span{
   padding-right: 40px; 
}

.form-foot-flex .five-submit:nth-child(1){
    border: 1px solid #e1dada;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    margin-right: 20px;
}

.form-foot-flex .five-submit:nth-child(2){
    border: 1px solid #3F87F5;
    background: #3F87F5;
    color: white;
    font-weight: 600;
    padding-right: 15px;
    padding-left: 50px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.form-foot-flex .five-submit:nth-child(2) span{
    padding-right: 0px;
    padding-left: 40px;
}



.form-input_row{
    justify-content: space-between;
    display: flex;
}

.form-five .card_img .data {
    border: 1px solid #cccccc;
    border-radius: 0;
}

.form-five .card_img .head_p {
    padding: 20px 0 10px;
}

.form-five .form-foot-flex{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-pills{
    display: flex;
    justify-content: center;
    padding-top: 40px;    
}


.nav-pills .nav-item{
    width: 50%;
}

.form-third .form-foot-flex{
    justify-content: center;
    background: transparent;
    border-top: 0;
    padding-bottom: 30px;
}

.form-third .form-foot-flex .submit{
   width: 100%; 
}

.bg-third {
    padding: 10% 30% 10% 30%;
}

.bg-four .card_img{
    display: flex;
}

.card-left-part{
    width: 40%;
    background: #CBD5D7;
    padding-left: 30px;
}

.card-right-part{
    width: 60%;
    background: #1F3449;
}

.form-four .card_img{
    padding: 0;
}

.card-left-part .text{
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
}


.form-four .card-left-part .title{
    font-size: 12px;
    font-weight: bold;
    color: #1f3449;
    padding-bottom: 20px;
}

.form-four .card-left-part .value{
    color: #1f3449;
    font-size: 34px;
    padding-bottom: 50px;
}

.form-four .card-left-part .value span{
    font-size: 20px;  
}

.form-four .card-left-part .value.name{
    font-size: 20px;
}

.card-right-part{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.card-right-part .text{
    padding-top: 30px;
}

.exp-line{
    display: flex;
    padding-top: 25px;
}

.bg-four{
    padding: 10% 25% 10% 25%;
}

option{
   background-color: #1F3449;;
}

.exp-line span{
    font-size: 20px;
    padding-top: 15px;
    padding-right: 40px;
}

.form-four .number {
    border:1px solid #ffc107!important;

}

.exp-line .exp-select select{
    height: 50px!important; 
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
}

.form-four .data input{
    border: 1px solid RGBA(89,89,89,0.46);
}

.form-four .card_img input{
    border: 1px solid  RGBA(89,89,89,0.66)!important;
}
.card-right-part label{
    padding-bottom: 10px;
}

.form-four .card_img input{
     background: transparent;
    color: white;
    background: #1F3449;

}
::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}


.arrow-top{
    padding-bottom: 80px;

}


.label-row{
    justify-content: space-between;
    display: flex;  
}

.form-seven .form-block{

}

.form-block{
    width: 20%;
}

.form-six .header{
    color: #59CCA8;
}


.btn-print{
    text-align: center;
    margin-top: 20px;
}

.print-link{
    background-color: #1AB394;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.fa-file{
    margin-right: 5px;
}

.form-item .f-header{
    text-transform: uppercase;
    font-size: 16px;
    color: grey;
    padding-left: 20px;
    border-bottom: 1px solid #DEDFDF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-item{
    border: 1px solid #DEDFDF;
    padding-bottom: 50px;
    height: 100%;
}

.form-body{
    margin-top: 30px;
}

.content-item{
    margin-top: 10px;
}

.i-title{
    color: grey;
    font-weight: bold;
    padding-left: 20px;
}

.merchant .form-group{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

}

.merchant .form-group input{
    border-radius: 0;
    border-color: #1AB394;
}

.fa-credit-card{
    color: #1AB394;
    font-size: 70px;
    margin-right: 10px;
}

.pay-text{
    color: grey;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
}

.l-select{
    font-size: 13px;
    font-weight: bold;
    color: grey;
    margin-bottom: 10px;
}

.f-select{
    border-radius: 0;
}

.submit-btn{
    color: white;
    background: #1AB394;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.submit-cont{
    text-align: right;
    margin-top: 10px;
}

.f-header-two{
    font-size: 16px;
    color: grey;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}


.invoice-table{
    width: 97%;
    margin: 0 auto;
}

.invoice-table tr{
    border-bottom: 1px solid #DEDFDF;
}

.invoice-table td{
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

.right-item{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: grey;
}

.right-item .item{
    padding-bottom: 5px;
    padding-top: 5px; 
}

.right-item .item .title{
    font-weight: bold;
}

.right-item .item .text{
    border-bottom: 1px solid #DEDFDF;
    padding-left: 50px;
    margin-left: 20px;
    display: inline-block;
    width: 130px;
    padding-bottom: 8px;
}

.right-item .form-group{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0;
}

.right-item .form-group .l-select{
    font-size: 14px;
    color: grey;
}

.right-item .submit-btn{
    margin-right: 0;
}

.invoice-table .small-big-text .small{
    font-size: 14px;
    font-weight: bold;
    color: grey;
    padding-top: 5px;
}

.invoice-table .small-big-text .big{
    font-size: 26px;
    color: #1AB394;
    line-height: 35px;
}

.invoice-table thead td{
    color: grey;
    font-weight: bold;
}

.invoice-table tr td{
    text-align: center;
}

.invoice-table .item-name{
    text-align: left;
}

.invoice-table .small-big-text{
    text-align: left;
}

.inv-1 h4{
    margin: 40px 0;
}

.form-row>.col, .form-row>[class*=col-]{
    padding-right: 10px;
    padding-left: 10px;
}

.form-control{
    padding: .700em .75rem;
}

.form-group label, .form-row label{
    margin-bottom: 6px !important;
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
}

.form-row label.mr-2, .mx-2{
    margin-bottom: 5px !important;
    margin-top: 0 !important;
}

.wrapper-payment-selection{
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 30px;
}

.inv-1 button{
    float: right;
}

.check{
    font-weight: bold;
    color: black !important;
    padding-top: 5px;
    padding-left: 10px;
}

.form-group .check{
    text-transform: capitalize;
}

.custom-control small{
    padding-left: 10px;
    line-height: 20px;
}

.custom-select{
    margin-top: 0 !important;
}

.form-group-custom{
    width:100%;
}

.form-group-custom-block{
    float: left;
}

.payment-cards{
    text-align: right;
}

.payment-cards svg{
    font-size: 30px;
}

.inv-1 button{
    padding: 15px 50px;
    text-transform: uppercase;
}

.f-select{
    height: auto!important;
}


@media(max-width:1200px){

.bg {
    padding: 10% 32% 10% 7%;
}
}
@media (max-width: 991px){
    .invoice-table .small-big-text .big {
        font-size: 18px;
    }
    .mastercardlogo {
        left: 100px!important;
    }
    .form-two #special-input{
        background-position: 260px!important;
    }
    .form-two #special-input-2{
        background-position: 260px!important;
    }

    .form-two #spcial-input-3{
        background-position: 120px;
    }

    .bg {
        padding: 10% 13% 10% 7%!important;
    }
}

@media (max-width: 768px){
    td img{
        width: 70%;
    }

    .bg-two {
        padding: 7% 0% 3% 0%!important;
    }

    .mastercardlogo {
        left: 185px!important;
    }
    .form-two #special-input{
        background-position: 230px!important;
    }
    .form-two #special-input-2{
        background-position: 230px!important;
    }

    .form-two #special-input-3{
        background-position: 105px!important;
        padding-left: 5px!important;
    }



    .invoice-table thead td {
        font-size: 12px;
    }

    .invoice-table tr td {
        font-size: 12px;
    }

    .invoice-table .small-big-text .big {
        font-size: 16px;
        line-height: 25px;
    }

    .invoice-table .small-big-text .small {
        font-size: 12px;
    }
}



@media (max-width: 580px){
    .i-title{
        text-align: center;
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .i-text{
        text-align: center;
    }

    .invoice-table .small-big-text .big {
        font-size: 12px;
        line-height: 25px;
    }

    .bg {
        padding: 10% 0% 14% 1%!important;
    }

    .fa-check svg{
        margin-left: 37px;
    }
}

@media (max-width: 480px){
    .bg-four .card_img{
        flex-direction: column;
    }

    .form-two .card_img{

        flex-direction: column;

    }

    .form-two .card-right-part {
        width: 100%!important;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background: #004F9A;
    }

    .form-two .card-left-part {
        width: 100%!important;
        background: white;
        align-items: center!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .form-two #special-input-3 {
        background-position: 150px !important;
        padding-left: 20px !important;

    }
    .mastercardlogo {
        left: 190px!important;
    }

    .btn-secondary-margin {
        padding-top: 10px!important;
        left: 20px;
    }

    .special-title {
        margin-top: 50px!important;
    }

    .btn-secondary-margin{
        margin-bottom: 10px!important;
    }

    .form-two #special-input {
        background-position: 340px!important;
    }
    .form-two #special-input-2 {
        background-position: 340px!important;
    }

    .card-left-part {
        width: 100%;
        background: #CBD5D7;
        padding-left: 30px;}

    .card-right-part {
        width: 100%;
        background: #1F3449;}

    .card-left-part .text{
        text-align: center;
    }

    .card_img p{
        text-align: center;
    }
    .arrow-top-img {
        position: relative;
        right: 100px;
    }

    .arrow-top {
        padding-bottom: 20px;
    }

    .exp-line span{
        font-size: 19px;
    }
    .exp-line .exp-select select{
        font-size: 19px;
    }
}


@media(max-width: 440px){
    .mastercardlogo {
        left: 150px!important;
    }
}

@media (max-width: 400px){
    .fa-check {
        position: relative;
        left: 30px;
    }
    .form-two #special-input-2 {
        background-position: 245px!important;
    }
    .form-two #special-input-3 {
        background-position: 245px!important;
    }

    .form-two #special-input-1 {
        background-position: 115px!important;
    }

    .mastercardlogo {
        left: 100px!important;
    }
}


@media (max-width: 365px){
    .arrow-top-img {
        position: relative;
        right: 70px;
    }
}

@media (max-width: 320px){
    .mastercardlogo {
        left: 50px!important;
    }
}


.form-four .form-block {
    width: 15%;
    margin-right: 10px;
}

.form-four .form-input_row{
     justify-content: flex-start;
}

.form-two .card_img {
    padding: 0;
    display: flex;
}

.form-two .card-left-part {
    width: 35%;
    background: white;

    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

}

#special-input{
    margin-top: 35px;
}
.form-two .card-left-part p{
    left:30px;
    position: relative;

}

.title{
    margin-top: 20px;
}

.form-width-1{
    width: 50%;
}

.form-width-2{
    width: 35%;
}
.special-title{
    margin-top: 105px;
}
.form-two .card-right-part {
    width: 65%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #004F9A;
}

.bg-two {
    padding: 7% 10% 10% 22%;
}

.form-two .card-left-part .title {
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.form-two .card-left-part .value {
    font-size: 12px;
    font-weight: bold;
    color: #004F9A;

    padding-bottom: 10px;
}


.form-two .card-left-part{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.mastercardlogo{
    width: 50px;
    height: 50px;
    position: relative;
    left: 145px;
}

.ecgo-form .header-part{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.ecgo-form{
    padding: 10% 0% 10% 0%;
}

.form-ecgo .header{
    text-align: left;
    margin-bottom: 40px;
}

.top-label{
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.top-headers{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.form-one .header{
    text-align: left;
}

.form-one table{
    width: 100%;
}

.form-one .flex-card{
    display: flex;
    margin-top: 50px;
}

.form-one .flex-card-right{
    width: 50%;
}

.form-one .flex-card-left{
    width: 50%;
    position: relative;
    top: 100px;
}

.form-one .card-body{
    box-shadow: 2px 2px 15px 1px grey;
    flex-direction: column;
    padding: 0;
}

.form-one .expiry-row{
    display: flex;
    background: #F2F5FA;
}

.form-one .card-img{
    background: #FBFBFB;
}

.btn-secondary-special{
    background-color: #004F9A!important;
    border-color: #004F9A!important;
    height: 50px;
    color:#839494;

}

.btn-secondary-close{
    background-color: white;
    color:#004F9A;
    font-weight: 600;
    border:none;
}
.btn-secondary-margin{
    padding-top: 75px;
    left:20px;
}
.number-2{
    background-color: #004F9A;
}
.number-2 input{
    border: 2px solid white!important;

}



/* FORM NUMBER 2 */
.form-two  #special-input{
    background-image: url(../images/human.PNG);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 310px; /*Позиционируем*/
    outline: none; /*убирам стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/

}


.form-two  #special-input-2{
    background-image: url(../images/zamok.PNG);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 310px; /*Позиционируем*/
    outline: none; /*убирам стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/

}

.form-two  #special-input-3{
    background-image: url(../images/expi.PNG);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 130px; /*Позиционируем*/
    outline: none; /*убирам стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    padding-top: 10px;

}



.form-two input .number-2{

    border:2px solid blue;
}

.form-two input .number-2 :hover{
    border:2px solid blue;
}

.form-block input{
    background: #004F9A;
    color:white;
}
/*::-webkit-input-placeholder {color:white; background-color: #004F9A; background-size: 100% 100%;}*/



