*{
    padding: 0;
    margin: 0;
}

.header{
    background: white;
    min-height: 200px;
}

li{
    text-decoration: none;
}
.form-control{

}

.adress{

}

.credit-card-div  span {
    padding-top:10px;
}
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}

.menu-ul li {
    background:white;
    color: black;
    display: inline;
    padding: 0;
    margin-right: 30px;
    line-height: 25px;
    font-weight: bold;

}